<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}">VoteGhost Products</title>
    <script th:replace="fragments/header :: headerElement"></script>


</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" th:if="${product != null}">
    <h1 th:text="${product.name}">Products</h1>
    <div th:each="feature : ${product.features}">
        <span th:text="${feature.title}"></span>
    </div>
    <a class="btn btn-primary " th:href="@{/products/{productId}/features/new (productId = ${product.id})}">Create
        Feature Request</a>
</div>

</body>
</html>